{% extends 'base.html' %}

{% block content %}
    {% if session.get('username') %}
        <h1>{% block title %} VULNERABLE All Users {% endblock %}</h1>
        <table>
            <tr>
                <th>UserName</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
            {% for user in all_users %}
                <tr>
                    <td>{{ user['user_name'] }}</td>
                    <td>{{ user['email'] }}</td>
                    <td><span class="hidden-password" title = "{{ user['password'] }}">■■■■■■■■</span></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2> Must be logged in to view all users Table </h2>
    {% endif %}
{% endblock %}